<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<link rel="stylesheet" href="../../css/mycss.css" >

</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-edit" hidden="true">
				<input type="text" name="id" th:value="${curvePoint.id}">
			</div>
			<div class="form-add">
				<label for="curveId">Enter your curveId: </label>
				<input type="number" name="curveId" id="curveId"  th:value="${curvePoint.getCurveId()}">
				<span class="error-text" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}">CurveId Error</span>
			</div>
			<div class="form-add">
				<label for="asOfDate">Enter your asOfDate: </label>
				<input type="Date" name="asOfDate" id="asOfDate"  th:value="${curvePoint.getAsOfDate()}">
				<span class="error-text" th:if="${#fields.hasErrors('asOfDate')}" th:errors="*{asOfDate}">asOfDate Error</span>
			</div>
			<div class="form-add">
				<label for="term">Enter your term: </label>
				<input type="number" name="term" id="term"  th:value="${curvePoint.getTerm()}">
				<span class="error-text" th:if="${#fields.hasErrors('term')}" th:errors="*{term}">term Error</span>
			</div>
			<div class="form-add">
				<label for="value">Enter your value: </label>
				<input type="number" name="value" id="value"  th:value="${curvePoint.getValue()}">
				<span class="error-text" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">value Error</span>
			</div>
			<div class="form-add">
				<label for="creationDate">Enter your creationDate: </label>
				<input type="Date" name="creationDate" id="creationDate"  th:value="${curvePoint.getCreationDate()}">
				<span class="error-text" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}">creationDate Error</span>
			</div>
			<div class="form-add">
				<input type="submit" value="Edit">
			</div>
		</form>
	</div>

</div>
</body>
</html>